# OpenTelemetry Configuration Properties
# Copy this file to otel.properties and set your actual values

# Service name for telemetry identification
SERVICE_NAME=android-otel-demo

# Where to point to for sending telemetry - the prod telescope shop of course!
TELEMETRY_ENDPOINT=Your Telescope Shop collector endpoint here anding in /otlp-http

